<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body class="fix-header">
	
    <div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top m-b-0" th:replace="layout :: header"></nav>
		<div class="navbar-default sidebar" role="navigation" th:replace="layout :: menu"> </div>
		<div id="page-wrapper">
			<div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Live Stream Table</h4> 
                    </div>
                </div>
                <!-- .row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">LiveStream Form</h3>
                            <p class="text-muted m-b-30 font-13"> Add New Live Stream </p>
                            <form class="form-horizontal" action="#" th:action="@{/livestream/submit}" th:object="${live}" method="POST" novalidate="novalidate">
                            	<input type="hidden" th:field="*{id_live}" />
                                <div class="form-group">
                                    <label class="col-md-12" for="title_live">Title Live Stream</label>
                                    <div class="col-md-12">
                                        <input type="text" id="title_live" name="title_live" th:field="*{title_live}" th:errorclass="field-error" class="form-control" placeholder="Enter Title..." /> 
                                    	<em th:if="${#fields.hasErrors('title_live')}" th:errors="*{title_live}"></em>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" for="link_live">Link Live Stream</label>
                                    <div class="col-md-12">
                                        <input type="text" id="link_live" name="link_live" th:field="*{link_live}" th:errorclass="field-error" class="form-control" placeholder="Enter Link..."  /> 
                                    	<em th:if="${#fields.hasErrors('link_live')}" th:errors="*{link_live}"></em>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" for="thumbnail_team1_live">Thumbnail Team 1</label>
                                    <div class="col-md-12">
                                        <input type="text" id="thumbnail_team1_live" name="thumbnail_team1_live" th:field="*{thumbnail_team1_live}" th:errorclass="field-error" class="form-control" placeholder="Enter Link..."  /> 
                                    	<em th:if="${#fields.hasErrors('thumbnail_team1_live')}" th:errors="*{thumbnail_team1_live}"></em>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" for="thumbnail_team2_live">Thumbnail Team 2</label>
                                    <div class="col-md-12">
                                        <input type="text" id="thumbnail_team2_live" name="thumbnail_team2_live" th:field="*{thumbnail_team2_live}" th:errorclass="field-error" class="form-control" placeholder="Enter Link..." /> 
                                    	<em th:if="${#fields.hasErrors('thumbnail_team2_live')}" th:errors="*{thumbnail_team2_live}"></em>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Status Live Stream</label>
                                    <div class="col-sm-12">
                                        <label class="col-sm-6">
                                            <div class="radio radio-success">
                                                <input type="radio" name="radio" id="radio" value="1" th:field="*{status_live}"/>
                                                <label for="radio"> Activate </label>
                                            </div>
                                        </label>
                                        <label class="col-sm-6">
                                            <div class="radio radio-danger">
                                                <input type="radio" name="radio" id="radio" value="0" th:field="*{status_live}" />
                                                <label for="radio"> Deactivate </label>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-success btn-outline">Submit</button> 
                                        <button type="reset" class="btn btn-warning btn-outline">Reset</button> 
                                        <a th:href="@{/livestream}" class="btn btn-info btn-outline">Back</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
		<footer th:replace="layout :: footer"></footer>
		</div>
	</div>
</body>
</html>